BASE_DIR=/home/user/document/google-cloud

DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=your-database-name
DB_USER=postgres
DB_PASSWORD=your-password

LOCAL_CONTAINER_NAME=postgres
LOCAL_DB_NAME=your-database-name
LOCAL_DB_USER=postgres

R2_BUCKET=your-r2-bucket-name
R2_PREFIX=sql_backups
